<div class="header-right">
  <div class="align-right">{{name}}</div>
  <div class="align-right">{{dni}}: {{numeroDni}}</div>
  <div class="align-right inline-block mw-250">{{direccion}}</div>
</div>

<p>
  {% if (sexoEmpleador == "una mujer") or (sexoEmpleador == "un hombre") %}
  {{nombreEmpleador}}
  {% elif (sexoEmpleador == "una persona jurídica") %}
  {{nombreEmpleadorJurídico}}
  {% endif %}
</p>
<p class="mw-250">{{direccionEmpleador}}</p>

<div class="align-right">En {{localidadRedaccion}}, a {{fechaRedaccion}}</div>

<p>
  <i>{{comunicacionNoRenovacion}}</i>
</p>
<p class="t-1-indent">
  <span class="bold">Asunto:</span> Solicitud de vacaciones
</p>

<p>iddec0-extra-0</p>

<p>
  Mediante la presente, y para que quede constancia por escrito, me dirijo a
  usted para solicitar con la debida antelación los días de vacaciones
  correspondientes a este año{% if (calendarioVacaciones == "sí") %}
  , de conformidad con el calendario de vacaciones vigente en la empresa
  {% endif %}.
</p>

<p>
  De acuerdo a la normativa vigente, para este período anual me corresponde la
  siguiente cantidad de días id-dec-11: {{diasDeVacaciones}}. Desearía disfrutar de los
  siguientes periodos de descanso laboral:
</p>

<p class="ml-1">id-dec-31</p>

<!-- <p>
  Agradeciendo su atención y esperando que no exista inconveniente por su parte,
  quedo a la espera de su contestación. Le saluda atentamente,
</p> -->

<br />
<br />
<br />
<p>...........................................</p>
<p>Fdo.: {{name}}</p>

{% if (comunicacionNoRenovacion == "entregada en mano") %}
<br /><br />
<p><span class="bold">RECIBÍ</span> el:........./........./...................</p>
{% endif %}