.SingleElement {
    height: 100%;

    .left-side,
    .right-side {
        overflow-y: scroll;
    }

    .left-side {
        background-color: grey;
        width: 50%;
    }

    .right-side {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        pre {
            font-size: 1.5vw;
        }
    }

    .navigation {
        position: absolute;
        bottom: 0;
        width: 100%;
        .content {
            padding: 2rem;
            display: flex;
            justify-content: space-between;
        }
    }
}